name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
      branches: ["main"]
jobs:
  pipeline:
    runs-on: uibuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        uses: npm install

      - name: Run Lint
        uses:npm run lint

      -name: Run Test
       uses: npm test

      -name: Run Build
       uses: npm run build
        
